


.genre-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 20px 0 40px 0;
    max-width: 100%;
  }


  
    
  .dashboard {
    min-height: 100vh; /* Ensure minimum height of viewport */
    background-color: #0e0f1c;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: flex-start; /* Align content at the top */
    align-items: center;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    padding: 20px; /* Add spacing inside the container */
  }
  .genre-box {
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #29387a; 
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid transparent; 
    transition: border-color 0.3s, transform 0.2s;
    text-align: center;
    min-width: 120px;
  }
  
  


.genre-box.selected {
    border-color: #e68003; 
  }
  
  .type-box.selected {
    border-color: #e68003; 
  }
  
  
  .genre-box:hover {
    background-color: #0e0e46;
  }
  
  .year-input {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .year-input-box {
    width: 100px;
    padding: 8px;
    margin: 0 10px;
    font-size: 14px;
    border: 2px solid #e68003;
    border-radius: 5px;
  }
  
  .to-text {
    font-size: 24px;
    padding: 10px;
    color: #ffffff;
  }


  .progress-indicator {
    color: white;
  }

  .next-button:hover {
    background-color: #e57b00;
  }

  .card {
    margin-top: 20px; 
    width: 100%; 
    height: 200px;
    max-width: 2000px; 
    padding: 20px;
  }
  
  .card-content {
    padding: 8px;
  }
  
  .search-container {
    display: flex; 
    width: 100%; 

  }
  .input {
    flex: 1;
    margin-right: 10px;
    padding: 50px 30px; 
    font-size: 28px;
    border-radius: 50px; 
    background-color: #050e18;
    color: white;
    border: none;
    outline: none; 
  }


  .onboarding-modal {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow-y: auto; 

  }

  .selected-movies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .selected-movie-box {
    border: 1px solid #ff8c00;
    border-radius: 4px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    gap: 8px;
    color:white;
    background:#050e18;
  }
  
  .remove-movie-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
  }
  



  .modal-content {
    position: relative;
    background-color: rgb(15, 28, 66);
    border-radius: 10px;
    padding: 50px; 
    width: 600px; 
    max-width: 90%;
    color: white;
    text-align: center;
    overflow-y: auto; 
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal-content h1 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .modal-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .modal-content input {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: calc(100vh - 100px); 
    margin-left: 220px;
    padding: 20px; 
}

html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
  }

  
  .next-button {
    background-color: #ff8c00;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; 
  }

  .prev-button {
    position: absolute;
    bottom: 50px;
    left: 20px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .next-button:hover {
    background-color: #e57b00;
  }
  